In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
attrition_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [3]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [4]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

Looking at our model summary, we can see that the number of weight parameters (weight coefficients) for each layer equals the number of input values times the number of neurons plus a bias term for each neuron. Our first layer has 55 input values, and multiplied by the eight neurons (plus eight bias terms for each neuron) gives us a total of 448 weight parametersâ€”plenty of opportunities for our model to find trends in the dataset.

. Nice work! If there are eight neurons in the first layer and five neurons in the second layer - eight times five equals 40 parameters, plus five parameters for the bias terms, giving us a total of 45 parameters.

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Train on 1102 samples
Epoch 1/100
1102/1102 [==============================] - 0s 360us/sample - loss: 332.7835 - accuracy: 0.5390
Epoch 2/100
1102/1102 [==============================] - 0s 29us/sample - loss: 146.2072 - accuracy: 0.7214
Epoch 3/100
1102/1102 [==============================] - 0s 28us/sample - loss: 92.1039 - accuracy: 0.7187
Epoch 4/100
1102/1102 [==============================] - 0s 28us/sample - loss: 64.5708 - accuracy: 0.7123
Epoch 5/100
1102/1102 [==============================] - 0s 29us/sample - loss: 50.1617 - accuracy: 0.7314
Epoch 6/100
1102/1102 [==============================] - 0s 27us/sample - loss: 40.1861 - accuracy: 0.7305
Epoch 7/100
1102/1102 [==============================] - 0s 27us/sample - loss: 30.9165 - accuracy: 0.7296
Epoch 8/100
1102/1102 [==============================] - 0s 28us/sample - loss: 19.9592 - accuracy: 0.7468
Epoch 9/100
1102/1102 [==============================] - 0s 38us/sample - loss: 10.8486 - accuracy: 0.7414
Epoch 10/100
1102/1102 [==============================] - 0s 30us/sample - loss: 9.7449 - accuracy: 0.7368
Epoch 11/100
1102/1102 [==============================] - 0s 27us/sample - loss: 7.2290 - accuracy: 0.7441
Epoch 12/100
1102/1102 [==============================] - 0s 27us/sample - loss: 8.6574 - accuracy: 0.7595
Epoch 13/100
1102/1102 [==============================] - 0s 28us/sample - loss: 7.1466 - accuracy: 0.7586
Epoch 14/100
1102/1102 [==============================] - 0s 27us/sample - loss: 5.3099 - accuracy: 0.7577
Epoch 15/100
1102/1102 [==============================] - 0s 28us/sample - loss: 8.3684 - accuracy: 0.7368
Epoch 16/100
1102/1102 [==============================] - 0s 27us/sample - loss: 6.9757 - accuracy: 0.7550
Epoch 17/100
1102/1102 [==============================] - 0s 30us/sample - loss: 5.7528 - accuracy: 0.7532
Epoch 18/100
1102/1102 [==============================] - 0s 32us/sample - loss: 8.5121 - accuracy: 0.7232
Epoch 19/100
1102/1102 [==============================] - 0s 28us/sample - loss: 8.8311 - accuracy: 0.7550
Epoch 20/100
1102/1102 [==============================] - 0s 26us/sample - loss: 5.8683 - accuracy: 0.7586
Epoch 21/100
1102/1102 [==============================] - 0s 29us/sample - loss: 8.9720 - accuracy: 0.7468
Epoch 22/100
1102/1102 [==============================] - 0s 26us/sample - loss: 4.7560 - accuracy: 0.7341
Epoch 23/100
1102/1102 [==============================] - 0s 28us/sample - loss: 6.2984 - accuracy: 0.7350
Epoch 24/100
1102/1102 [==============================] - 0s 28us/sample - loss: 5.0504 - accuracy: 0.7586
Epoch 25/100
1102/1102 [==============================] - 0s 33us/sample - loss: 4.0601 - accuracy: 0.7677
Epoch 26/100
1102/1102 [==============================] - 0s 31us/sample - loss: 4.5778 - accuracy: 0.7377
Epoch 27/100
1102/1102 [==============================] - 0s 29us/sample - loss: 3.1406 - accuracy: 0.7740
Epoch 28/100
1102/1102 [==============================] - 0s 30us/sample - loss: 4.9799 - accuracy: 0.7623
Epoch 29/100
1102/1102 [==============================] - 0s 26us/sample - loss: 4.8500 - accuracy: 0.7613
Epoch 30/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.1951 - accuracy: 0.7668
Epoch 31/100
1102/1102 [==============================] - 0s 29us/sample - loss: 3.3838 - accuracy: 0.7532
Epoch 32/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.0989 - accuracy: 0.7668
Epoch 33/100
1102/1102 [==============================] - 0s 27us/sample - loss: 5.1716 - accuracy: 0.7623
Epoch 34/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.9356 - accuracy: 0.7541
Epoch 35/100
1102/1102 [==============================] - 0s 28us/sample - loss: 2.9901 - accuracy: 0.7632
Epoch 36/100
1102/1102 [==============================] - 0s 30us/sample - loss: 2.6690 - accuracy: 0.7668
Epoch 37/100
1102/1102 [==============================] - 0s 29us/sample - loss: 3.0589 - accuracy: 0.7695
Epoch 38/100
1102/1102 [==============================] - 0s 26us/sample - loss: 5.6577 - accuracy: 0.7423
Epoch 39/100
1102/1102 [==============================] - 0s 29us/sample - loss: 4.2827 - accuracy: 0.7532
Epoch 40/100
1102/1102 [==============================] - 0s 29us/sample - loss: 4.0696 - accuracy: 0.7477
Epoch 41/100
1102/1102 [==============================] - 0s 34us/sample - loss: 2.8528 - accuracy: 0.7532
Epoch 42/100
1102/1102 [==============================] - 0s 32us/sample - loss: 2.7292 - accuracy: 0.7623
Epoch 43/100
1102/1102 [==============================] - 0s 26us/sample - loss: 2.3567 - accuracy: 0.7840
Epoch 44/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.0863 - accuracy: 0.7623
Epoch 45/100
1102/1102 [==============================] - 0s 27us/sample - loss: 4.0540 - accuracy: 0.7668
Epoch 46/100
1102/1102 [==============================] - 0s 27us/sample - loss: 3.7672 - accuracy: 0.7532
Epoch 47/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.3370 - accuracy: 0.7441
Epoch 48/100
1102/1102 [==============================] - 0s 29us/sample - loss: 3.4591 - accuracy: 0.7677
Epoch 49/100
1102/1102 [==============================] - 0s 26us/sample - loss: 2.9952 - accuracy: 0.7568
Epoch 50/100
1102/1102 [==============================] - 0s 28us/sample - loss: 1.7701 - accuracy: 0.7868
Epoch 51/100
1102/1102 [==============================] - 0s 27us/sample - loss: 3.6502 - accuracy: 0.7559
Epoch 52/100
1102/1102 [==============================] - 0s 29us/sample - loss: 2.8148 - accuracy: 0.7677
Epoch 53/100
1102/1102 [==============================] - 0s 29us/sample - loss: 4.9886 - accuracy: 0.7550
Epoch 54/100
1102/1102 [==============================] - 0s 31us/sample - loss: 6.8359 - accuracy: 0.7477
Epoch 55/100
1102/1102 [==============================] - 0s 26us/sample - loss: 5.6566 - accuracy: 0.7641
Epoch 56/100
1102/1102 [==============================] - 0s 27us/sample - loss: 2.5289 - accuracy: 0.7795
Epoch 57/100
1102/1102 [==============================] - 0s 28us/sample - loss: 2.7799 - accuracy: 0.7677
Epoch 58/100
1102/1102 [==============================] - 0s 28us/sample - loss: 6.6747 - accuracy: 0.7568
Epoch 59/100
1102/1102 [==============================] - 0s 29us/sample - loss: 1.7774 - accuracy: 0.7931
Epoch 60/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.0968 - accuracy: 0.7768
Epoch 61/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.3481 - accuracy: 0.7668
Epoch 62/100
1102/1102 [==============================] - 0s 29us/sample - loss: 2.5134 - accuracy: 0.7713
Epoch 63/100
1102/1102 [==============================] - 0s 27us/sample - loss: 2.8802 - accuracy: 0.7514
Epoch 64/100
1102/1102 [==============================] - 0s 29us/sample - loss: 7.0714 - accuracy: 0.7595
Epoch 65/100
1102/1102 [==============================] - 0s 32us/sample - loss: 3.3421 - accuracy: 0.7659
Epoch 66/100
1102/1102 [==============================] - 0s 29us/sample - loss: 1.9645 - accuracy: 0.7777
Epoch 67/100
1102/1102 [==============================] - 0s 29us/sample - loss: 3.8414 - accuracy: 0.7477
Epoch 68/100
1102/1102 [==============================] - 0s 29us/sample - loss: 5.2014 - accuracy: 0.7450
Epoch 69/100
1102/1102 [==============================] - 0s 29us/sample - loss: 3.1886 - accuracy: 0.7514
Epoch 70/100
1102/1102 [==============================] - 0s 29us/sample - loss: 3.3252 - accuracy: 0.7477
Epoch 71/100
1102/1102 [==============================] - 0s 25us/sample - loss: 6.8705 - accuracy: 0.7586
Epoch 72/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.4059 - accuracy: 0.7750
Epoch 73/100
1102/1102 [==============================] - 0s 30us/sample - loss: 1.3862 - accuracy: 0.8094
Epoch 74/100
1102/1102 [==============================] - 0s 39us/sample - loss: 2.4054 - accuracy: 0.7740
Epoch 75/100
1102/1102 [==============================] - 0s 26us/sample - loss: 1.9842 - accuracy: 0.7904
Epoch 76/100
1102/1102 [==============================] - 0s 28us/sample - loss: 1.7785 - accuracy: 0.7922
Epoch 77/100

1102/1102 [==============================] - 0s 28us/sample - loss: 2.6884 - accuracy: 0.7740
Epoch 78/100
1102/1102 [==============================] - 0s 27us/sample - loss: 4.0821 - accuracy: 0.7559
Epoch 79/100
1102/1102 [==============================] - 0s 28us/sample - loss: 4.2286 - accuracy: 0.7514
Epoch 80/100
1102/1102 [==============================] - 0s 27us/sample - loss: 1.9621 - accuracy: 0.7877
Epoch 81/100
1102/1102 [==============================] - 0s 28us/sample - loss: 2.0784 - accuracy: 0.7677
Epoch 82/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.3203 - accuracy: 0.7632
Epoch 83/100
1102/1102 [==============================] - 0s 26us/sample - loss: 3.0554 - accuracy: 0.7577
Epoch 84/100
1102/1102 [==============================] - 0s 27us/sample - loss: 3.7232 - accuracy: 0.7659
Epoch 85/100
1102/1102 [==============================] - 0s 27us/sample - loss: 3.3917 - accuracy: 0.7559
Epoch 86/100
1102/1102 [==============================] - 0s 26us/sample - loss: 6.4710 - accuracy: 0.7541
Epoch 87/100
1102/1102 [==============================] - 0s 27us/sample - loss: 3.3485 - accuracy: 0.7604
Epoch 88/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.5794 - accuracy: 0.7659
Epoch 89/100
1102/1102 [==============================] - 0s 26us/sample - loss: 2.4399 - accuracy: 0.7813
Epoch 90/100
1102/1102 [==============================] - 0s 27us/sample - loss: 2.2494 - accuracy: 0.7532
Epoch 91/100
1102/1102 [==============================] - 0s 29us/sample - loss: 4.3380 - accuracy: 0.7586
Epoch 92/100
1102/1102 [==============================] - 0s 26us/sample - loss: 2.7575 - accuracy: 0.7677
Epoch 93/100
1102/1102 [==============================] - 0s 27us/sample - loss: 1.8676 - accuracy: 0.7750
Epoch 94/100
1102/1102 [==============================] - 0s 28us/sample - loss: 2.8911 - accuracy: 0.7831
Epoch 95/100
1102/1102 [==============================] - 0s 28us/sample - loss: 3.7536 - accuracy: 0.7595
Epoch 96/100
1102/1102 [==============================] - 0s 27us/sample - loss: 3.1644 - accuracy: 0.7495
Epoch 97/100
1102/1102 [==============================] - ETA: 0s - loss: 4.4031 - accuracy: 0.87 - 0s 27us/sample - loss: 2.1959 - accuracy: 0.7868
Epoch 98/100
1102/1102 [==============================] - 0s 27us/sample - loss: 3.4628 - accuracy: 0.7468
Epoch 99/100
1102/1102 [==============================] - 0s 29us/sample - loss: 2.1324 - accuracy: 0.7768
Epoch 100/100
1102/1102 [==============================] - 0s 28us/sample - loss: 2.3711 - accuracy: 0.7768

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

368/368 - 0s - loss: 2.6756 - accuracy: 0.8723
Loss: 2.675608357657557, Accuracy: 0.8722826242446899

Looking at our deep learning modelâ€™s performance metrics, the model was able to correctly identify employees who are at risk of attrition approximately 87% of the time. Considering that our input data included more than 30 different variables with more than 1,400 data points, the deep learning model was able to produce a fairly reliable classifier.