In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf


# Import our input dataset
charity_df = pd.read_csv('./charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,Jan-99,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Dropping variables that are neither feature nor the target
charity_df= charity_df.drop(columns=["EIN","NAME"])
charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,Jan-99,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
 # Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

In [4]:
# Check the number of unique values in each column
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [5]:
# Check the application type unique value counts to see if binning is required
app_count= charity_df.APPLICATION_TYPE.value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Determine which values to replace for bucketing
replace_app = list(app_count[app_count < 156].index)

# Replace in DataFrame
for application in replace_app:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(application,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Check the unique value counts to see if binning is required
class_count= charity_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1728        1
C2561        1
C4120        1
C1236        1
C1732        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Determine which values to replace for bucketing
replace_class = list(class_count[class_count < 116].index)

# Replace in DataFrame
for classification in replace_class:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(classification,"Other")


# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      887
C7000      777
C1700      287
C4000      194
C5000      116
Name: CLASSIFICATION, dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,INCOME_AMT_Jan-99,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,INCOME_AMT_Jan-99,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3920
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 6,381
Trainable params: 6,381
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 1s 39us/sample - loss: 0.5699 - accuracy: 0.7228
Epoch 2/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5541 - accuracy: 0.7293
Epoch 3/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5516 - accuracy: 0.7316
Epoch 4/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5491 - accuracy: 0.7325
Epoch 5/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5474 - accuracy: 0.7332
Epoch 6/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5473 - accuracy: 0.7319
Epoch 7/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5456 - accuracy: 0.7329
Epoch 8/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5458 - accuracy: 0.7329
Epoch 9/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5443 - accuracy: 0.7355
Epoch 10/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5441 - accuracy: 0.7336
Epoch 11/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5430 - accuracy: 0.7360
Epoch 12/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5431 - accuracy: 0.7357
Epoch 13/100
25724/25724 [==============================] - 1s 30us/sample - loss: 0.5426 - accuracy: 0.7360
Epoch 14/100
25724/25724 [==============================] - 1s 31us/sample - loss: 0.5422 - accuracy: 0.7350
Epoch 15/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5420 - accuracy: 0.7371
Epoch 16/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5415 - accuracy: 0.7362
Epoch 17/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5409 - accuracy: 0.7358
Epoch 18/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5414 - accuracy: 0.7372
Epoch 19/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5404 - accuracy: 0.7360
Epoch 20/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5408 - accuracy: 0.7362
Epoch 21/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5400 - accuracy: 0.7373
Epoch 22/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5397 - accuracy: 0.7382
Epoch 23/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5395 - accuracy: 0.7374
Epoch 24/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5392 - accuracy: 0.7376
Epoch 25/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5390 - accuracy: 0.7379
Epoch 26/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5390 - accuracy: 0.7370
Epoch 27/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5386 - accuracy: 0.7385
Epoch 28/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5381 - accuracy: 0.7392
Epoch 29/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5384 - accuracy: 0.7396
Epoch 30/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5380 - accuracy: 0.7382
Epoch 31/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5379 - accuracy: 0.7393
Epoch 32/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5381 - accuracy: 0.7388
Epoch 33/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5373 - accuracy: 0.7399
Epoch 34/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5379 - accuracy: 0.7387
Epoch 35/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5370 - accuracy: 0.7389
Epoch 36/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5371 - accuracy: 0.7394
Epoch 37/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5370 - accuracy: 0.7399
Epoch 38/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5368 - accuracy: 0.7388
Epoch 39/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5366 - accuracy: 0.7400
Epoch 40/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5366 - accuracy: 0.7390
Epoch 41/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5368 - accuracy: 0.7393
Epoch 42/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5365 - accuracy: 0.7394
Epoch 43/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5362 - accuracy: 0.7388
Epoch 44/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5358 - accuracy: 0.7403
Epoch 45/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5357 - accuracy: 0.7399
Epoch 46/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5361 - accuracy: 0.7403
Epoch 47/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5359 - accuracy: 0.7403
Epoch 48/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5357 - accuracy: 0.7395
Epoch 49/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5358 - accuracy: 0.7402
Epoch 50/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5354 - accuracy: 0.7405
Epoch 51/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5354 - accuracy: 0.7402
Epoch 52/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5355 - accuracy: 0.7399
Epoch 53/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5351 - accuracy: 0.7413
Epoch 54/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5349 - accuracy: 0.7398
Epoch 55/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5354 - accuracy: 0.7402
Epoch 56/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5352 - accuracy: 0.7409
Epoch 57/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5348 - accuracy: 0.7421
Epoch 58/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5346 - accuracy: 0.7407
Epoch 59/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5347 - accuracy: 0.7395
Epoch 60/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5350 - accuracy: 0.7401
Epoch 61/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5345 - accuracy: 0.7404
Epoch 62/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5346 - accuracy: 0.7413
Epoch 63/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5345 - accuracy: 0.7411
Epoch 64/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5345 - accuracy: 0.7417
Epoch 65/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5346 - accuracy: 0.7414
Epoch 66/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5341 - accuracy: 0.7408
Epoch 67/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5343 - accuracy: 0.7414
Epoch 68/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5341 - accuracy: 0.7412
Epoch 69/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5341 - accuracy: 0.7412
Epoch 70/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5337 - accuracy: 0.7416
Epoch 71/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5340 - accuracy: 0.7416
Epoch 72/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5338 - accuracy: 0.7412
Epoch 73/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5336 - accuracy: 0.7416
Epoch 74/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5334 - accuracy: 0.7414
Epoch 75/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5336 - accuracy: 0.7411
Epoch 76/100

25724/25724 [==============================] - 1s 24us/sample - loss: 0.5336 - accuracy: 0.7409
Epoch 77/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5336 - accuracy: 0.7411
Epoch 78/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5332 - accuracy: 0.7425
Epoch 79/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5331 - accuracy: 0.7417
Epoch 80/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5330 - accuracy: 0.7414
Epoch 81/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5331 - accuracy: 0.7415
Epoch 82/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5332 - accuracy: 0.7411
Epoch 83/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5335 - accuracy: 0.7417
Epoch 84/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5330 - accuracy: 0.7406
Epoch 85/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5332 - accuracy: 0.7423
Epoch 86/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5332 - accuracy: 0.7413
Epoch 87/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5328 - accuracy: 0.7408
Epoch 88/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5330 - accuracy: 0.7415
Epoch 89/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5328 - accuracy: 0.7416
Epoch 90/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5325 - accuracy: 0.7416
Epoch 91/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5324 - accuracy: 0.7424
Epoch 92/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5324 - accuracy: 0.7420
Epoch 93/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5325 - accuracy: 0.7413
Epoch 94/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5327 - accuracy: 0.7418
Epoch 95/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5325 - accuracy: 0.7414
Epoch 96/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5326 - accuracy: 0.7417
Epoch 97/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5323 - accuracy: 0.7414
Epoch 98/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5322 - accuracy: 0.7411
Epoch 99/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5318 - accuracy: 0.7416
Epoch 100/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5321 - accuracy: 0.7418

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5592 - accuracy: 0.7248
Loss: 0.5591938368433071, Accuracy: 0.724781334400177